# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/

# Virtualenv
.venv/
venv/

# Secrets and metadata
.env
data/
records/

# Git
.git/
.gitignore
README.md

# Docker
Dockerfile
docker-compose.yaml
.dockerignore
